*

!*/

!crash-reports/**
!logs/**
!world/**
!banned-ips.json
!banned-players.json
!eula.txt
!mcgang.sh
!minecraft_server.1.12.jar
!ops.json
!PiMC_tmux.sh
!server.properties
!usercache.json
!whitelist.json
