*

!README.md
!crash-reports/**
!logs/**
!world/**
!add-to-log.sh
!banned-ips.json
!banned-players.json
!eula.txt
!install-script.sh
!mcgang.sh
!minecraft_server.1.12.jar
!nightly-server-push.sh
!ops.json
!PiMC_tmux.sh
!server.properties
!usercache.json
!whitelist.json
